# Node modules
/node_modules

# Environment variables
.env 
.env.local

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types
/typechain 
/typechain-types

# Hardhat coverage reports
/coverage

#MacOS file s 
.DS_Store

#IDE 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo

# Logs
*.log
